/*@font-face{
  src: url('./assets/fonts/NewForest-Regular.ttf');
  font-family: mainF;
}*/
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400&family=Poppins:wght@300;500&display=swap');
:root{
  --headers : 'Lora', serif;
  --content : 'Poppins', sans-serif;
}
body {
  margin: 0;
  padding: 0;
  font-family: mainF !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
